<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />        
  </system.web>

  <appSettings>
    <add key="BingSearchAPIKey" value="YOUR_BING_SEARCH_API_KEY_HERE"/>
  </appSettings>
  
  <system.webServer>
    <handlers>
      <add name="jpgs" verb="*" path="*.jpg"
          type="TalkWithPictures.ImageHandler, TalkWithPictures" preCondition="managedHandler"/>
      <add name="png" verb="*" path="*.png"
          type="TalkWithPictures.ImageHandler, TalkWithPictures" preCondition="managedHandler"/>
      <add name="agifs" verb="*" path="*.gif"
          type="TalkWithPictures.ImageHandler, TalkWithPictures" preCondition="managedHandler"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="false" />
  </system.webServer>

</configuration>
